.cart {
    cursor: pointer;
    width: 3.7rem;
    height: 3.7rem;
    display: flex;
    align-items: center;
    position: relative;
}
.cart:hover > .icon {
    background-color: #df786c;
}

.cart .icon {
    background-color: var(--theme-color);
    width: 87.5%;
    height: 87.5%;
    padding: 21%;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-items: center;
}

.cart .item-count {
    font-size: 95%;
    text-align: center;
    color: #fff;
    background-color: #030141;
    width: 45%;
    height: 42%;
    padding: 7.5%;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
}
.cart .count-container {
    text-align: center;
    width: 100%;
}