@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

:root {
    --theme-color: #dc8b82;
    /* --theme-color: #db9f99; */
}

.App {
    font-family: 'Roboto Slab', serif;
    height: 100%;
}